// Terminal 2: node pour le SASS
// Terminal 1: zsh pour  Git


//Links autres feuilles de style
@import "variables.scss";
@import "mixins.scss";


//Body
body{
    margin: 0;
}


// Block d'entête
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #113a5d;

    // Mise en forme des titres
    h1{
        font-family: $font-h1;
        font-size: 50px;
        color: $color-h1;
        margin-bottom: 0;
    }

    h2{
        font-family: $font-h2;
        font-size: 25px;
        font-weight: 350;
        color: $color-h2;
        margin-top: 10px;
    }

}


// Introduction (Summary)
.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 30px 0;
    background-color: #113a5d;
    color: $color-p1;
    
    //Paragraphes
    p{
        font-family: $font-p;
        font-size: 16px;
        font-weight: 200;
        margin: 10px 0 5px 0;
    }

    // Liens des paragraphes
    a{
        text-decoration: none;
        color: white;
    }
}


//Premier bloc de texte (Preamble)
.preamble{
    @include left_column();

    //Mise en forme du texte
    h3{
        @include h3();  
    }
    
    p{
        @include paragraphe();
        padding-left: 1%;
    }
}


//Deuxième bloc de texte (So What is This About ?)
.explanation{
    @extend .preamble;
}


//Troisième bloc de texte (Participation)
.participation{
    @extend .preamble;

    //Liens du bloc de texte
    a{
        @include a();
    }
}


//Quatrième bloc de texte (Benefits)
.benefits{
    @extend .preamble;
}


//Cinquième bloc de texte (Requirements)
.requirements{
    @extend .preamble;

    //Liens du bloc de texte
    a{
        @include a();
    }
}


//Footer
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #113a5d;
    padding: 20px 0px 20px 0px;

    //Liens du footer
    a{
        text-decoration: none;
        font-family: $font-h2;
        color: $color-h2;
        padding: 0 20px 0 20px;
    }
}


//Petite colonne de droite
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 290px;
    right: 0;
    width: 25%;
    height: 1581px;
    background-color: #fee9b2;
}

//Parties de la petite colonne de droite
.design{

    //Première petite colonne de droite (Select a design)
    &-selection{
        h3{
            @include h3_2();
        }
        
        //Navigation
        nav ul{
            @include ul();
            padding-left: 20px;
        }
    
        nav li{
            margin: 10px 0 10px 0;
        }
        
        nav a{
            @include a_2();
        }
    }

    //Deuxième petite colonne de droite (Archives)
    &-archives{
        h3{
            @include h3_2();
        }
        
        //Navigation
        nav ul{
            @include ul();
            padding-left: 0px;
        }
    
        nav li{
            margin: 10px 0 10px 0;
        }
        
        nav a{
            @include a_2();
        } 
    } 
}


//Positionnement "Select a Design"
.design-selection{
    padding: 60px 0 0 0;
}


//Positionnement "Archives"
.design-archives{
    padding: 255px 0 0 0;
}


//Troisième petite colonne de droite (Ressources)
.zen-resources{
    padding: 205px 0 0 0;
    
    h3{
        font-family: $font-h3;
        color: $color-h3;
    }

    //Navigation
    ul{
        list-style: none;
        font-family: $font-p;
        color: $color-p2;
        padding-left: 0px;
    }

    li{
        margin: 10px 0 10px 0;
    }

    a{
        text-decoration: none;
        font-family: $font-p;
        color: $color-p2;
    }
}