// Terminal 2: node pour le SASS
// Terminal 1: zsh pour  Git


//Links autres feuilles de style
@import "variables.scss";
@import "mixins.scss";


// Block d'entête
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: green;

    // Mise en forme des titres
    h1{
        font-family: $font-titre;
        font-size: 50px;
        color: yellow;
        margin-bottom: 0;
    }

    h2{
        font-family: $font-titre;
        font-size: 25px;
        font-weight: 350;
        color: white;
        margin-top: 0;
    }

}

// Introduction (Summary)
.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 30px 0;
    background-color: green;
    color: white;
    
    //Paragraphes
    p{
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        margin: 10px 0 5px 0;
    }

    // Liens des paragraphes
    a{
        text-decoration: none;
        color: white;
    }
}

//Premier bloc de texte (Preamble)
.preamble{
    @include left_column();
}

//Deuxième bloc de texte (So What is This About ?)
.explanation{
    @include left_column();
}


//Troisième bloc de texte (Participation)
.participation{
    @include left_column();
}


//Quatrième bloc de texte (Benefits)
.benefits{
    @include left_column();
}


//Cinquième bloc de texte (Requirements)
.requirements{
    @include left_column();


    //Dernier paragraphe
    p:last-child{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


//Footer
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: green;
}


//Première petite colonne de droite (Select a design)
.design-selection{
    @include right_column();
    margin-bottom: 50px;
}


//Deuxième petite colonne de droite (Archives)
.design-archives{
    @include right_column();
}


//Troisième petite colonne de droite (Ressources)
.zen-resources{
    @include right_column();
}