//Éléments de textes
    //H1
    $font-h1: "Ibarra Real Nova";
    $color-h1: #fee9b2;
    
    //H2
    $font-h2: "Ibarra Real Nova";
    $color-h2: #f9fce1;
    
    //H3
    $font-h3: "Ibarra Real Nova";
    $color-h3: #113a5d;

    //Paragraphes
    $font-p: "open sans condensed";
    $color-p1: #f9f9f9;
    $color-p2: #005e7c;

    
